html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

div, h1, h3 , ul, li {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

#top-pane {
    height: 50px;
    background-color: #eeeeee;
    text-align: center;
}

#top-pane h1 {
    line-height: 50px;
}

#bottom-pane {
    position: fixed;
    height: 100%;
}

#bottom-pane #pageEditor {
    padding: 20px 0;
    text-align: center;
}

#bottom-pane #pageEditor .pageNum {
    width: 135px;
}

.delete {
    padding: 0px;
    width: 25px;
    height: 25px;
}
