<!--사용자 포트폴리오 리스트-->
<div id="portfolio-list">

    <button class='btn btn-default' ng-click="createPortfolio()">포트폴리오 생성</button>

    <ul>
        <li ng-repeat="portfolio in portfolios" close="deletePortfolio($index)">
            <img src="../img/testImage.png"/>
            <div class="description">
                <h3>{{portfolio.title}}</h3>
                <p>{{portfolio.description}}</p>

                <button class='btn btn-default' ng-click="goToPortfolioEditor($index)">에디터</button>

                <button class='btn btn-default' ng-click="modifyPortfolio($index)">정보 수정</button>

            </div>
        </li>
    </ul>
</div>