<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

    <title>Portfolio Manage</title>
</head>
<body ng-controller="portfolioManage" class="container-fluid">
<div class="row">
    <div class="col-md-2">
        메뉴
    </div>
    <div class="col-md-10">
        <a href="portfolioEditor.html">포트폴리오 에디터</a>
        <a href="editor.html">아티클 에디터</a>
    </div>
</div>
<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>