<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/portfolioEditor.css" rel="stylesheet">
    <link href="../libs/kendo/styles/web/kendo.flat.min.css" rel="stylesheet">
    <link href="../libs/kendo/styles/web/kendo.common.core.css" rel="stylesheet">

    <title>Portfolio Manage</title>
</head>
<body ng-controller="portfolioEditor">

<div id="top-pane">
    <h1>Career Box</h1>
</div>
<div id="bottom-pane" kendo-splitter k-panes="panes" k-orientation="orientation">

    <div id="editor">
        <div id="pageEditor">
            <div id="pageSelect" class="btn-group">
                <button type="button" class="pageNum btn btn-default">Page1</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">
                            <span>Page1</span>
                            <div class="delBtn">
                                <button type="button" class="delete btn btn-primary" data-toggle="button">-</button>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Page2</span>
                            <div class="delBtn">
                                <button type="button" class="delete btn btn-primary" data-toggle="button">-</button>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Page3</span>
                            <div class="delBtn">
                                <button type="button" class="delete btn btn-primary" data-toggle="button">-</button>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="button">+ New</button>
        </div>
        <div id="otherEditor">
            <ul class="nav nav-tabs nav-justified" id="editorTab">
                <li class="active"><a href="#section">section</a></li>
                <li><a href="#article">article</a></li>
                <li><a href="#item">item</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="section">section</div>
                <div class="tab-pane" id="article">article</div>
                <div class="tab-pane" id="item">item</div>
            </div>
        </div>
    </div>
    <div id="page">
        <div id="stateBar">
            <ul class="clearfix">
                <li><pre>page</pre></li>
                <li><pre>> section</pre></li>
                <li><pre>> article</pre></li>
            </ul>
        </div>
        <h3>Page</h3>
    </div>
    <div id="attribute">
        <h3>Attribute</h3>

        <div class="tab-content">
            <div class="tab-pane active" id="sectionAttr">section attribute</div>
            <div class="tab-pane" id="articleAttr">article attribute</div>
            <div class="tab-pane" id="itemAttr">item attribute</div>
        </div>
    </div>
</div>


<script src="../libs/require/require.js" data-main="../main.js"></script>
</body>
</html>